---
// import base layout 
import BaseLayout from "../layouts/BaseLayout.astro";
  // Blog Layout
import BlogPostLayout from "../layouts/BlogPostLayout.astro";

// import stylesheet
import '../styles/myStyles.css';

const siteName = "Digital Garden"
const pageTitle ="Let's Farm"
---

<BaseLayout pageTitle={pageTitle} >

<p>Welcome to Kat's Digital Garden</p>

</BaseLayout>
